{% extends "layout.html" %} {% block content %}

<div class="experience">


    <div class="school-wrapper">
        <div class="school">
            <h1>Graduação</h1>
            <div class="line"></div>
            <div class="school-info">
                <div>Bacharelado, Sistema de Informação(4º Período)<br> Unisales
                    <br>
                </div>
                <div class="school-info-side2">Dezembro 2023<br> Vitória, ES<br>
                </div>

            </div>
            <div class="school-title">
                Cursos relacionados
            </div>
            <div class="line"></div>
            <div class="school-courses">
                Sistemas operacionais | Projeto de sistemas de banco de dados | Estruturas de dados
            </div>
        </div>
    </div>


    <div class="work-wrapper">
        <div class="work">
            <h1>Experiência de trabalho</h1>
            <div class="line"></div>
            <div class="work-title">
                <div>Técnico de Suporte TI<br> SEP - Secretaria de Economia e Planejamento
                </div>
                <div class="work-title-side2">
                    Novembro - 2020<br> Vitória, ES
                </div>
            </div>
            <div class="work-info">
                Tenho a responsabilidade de garantir o funcionamento de ferramentas, servidores, máquinas/equipamentos e sistemas de TI da secretaria.
            </div>
        </div>
    </div>


</div>
{% endblock %}