{% extends "layout.html" %} {% block content %}

<div class="projects">

    <div class="project">

        <div class="titlebar">
            <div class="title">Projeto Integrador 3° Período - Unisales</div>
            <div><a href="https://github.com/UniEquipamentos/Projeto_Integrador_3"><i class="fab fa-github"></i></a></div>
        </div>

        <div class="pcontent">
            <div><b><i>SISTEMA DE GERENCIAMENTO DE EQUIPAMENTOS DE INFORMÁTICA</i></b>: Projeto desenvolvido para suprir a necessidade no gerenciamento e segurança dos emprestimos de equipamentos da universidade.</div>
        </div>
    </div>
</div>
{% endblock %}